.header {
  grid-area: header;
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgb(1, 4, 133) 44%, rgb(0, 13, 16) 100%);
  font-size: 20px;
}

.navbar {
  grid-area: navbar;
  background-color: aqua;
}

.aside {
  grid-area: aside;
  background-color: #193344;
  font-size: 20px;
}

.main {
  grid-area: main;
  background-color: rgb(3, 3, 75);
  font-size: 20px;
}

.footer {
  grid-area: footer;
  background: radial-gradient(circle, rgb(7, 5, 8) 0%, rgb(182, 183, 235) 44%, rgb(9, 13, 16) 100%);
}

.card {
  min-height: 800px;
  margin: 0;
  padding: 0;
  size: 400px;
  background-color: rgb(3, 3, 75);
}

.card-image {
  width: 50%;
  margin: 50px;
  background-color: rgb(3, 3, 75);
}

.menuNavegacion {
  font-size: 30px;
  list-style-type: none;
  color: white;
}

a {
  transition: 2s;
}
a:hover {
  background-color: blue;
}

.navegacion ul {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.nav-footer li a {
  border-radius: 15px;
  background-color: white;
  margin-right: 10px;
  font-size: medium;
}

.nav-footer li a:hover {
  background-color: rgb(3, 3, 75);
  color: white !important;
}

.red-input:focus {
  background: #193344;
  color: white;
}

.blue-input:focus {
  background: #193344;
  color: white;
}

.boton-1, .boton--limpiar, .boton--enviar {
  width: 200px;
  height: 50px;
  background-color: white;
  text-align: center;
  color: black;
  border-radius: 20px;
  border: 1px solid black;
}

.boton--enviar {
  background-color: #193344;
  color: grey;
}

.boton--limpiar {
  background-color: grey;
  color: #193344;
}

/*map-get*/
.card {
  background-color: rgb(3, 3, 75);
  text-align: center;
  padding: 1rem;
  font-size: 30px;
}

/*Creamos el bucle para usar los valores del mapa*/
.bg-facebook {
  background-color: #7455ee !important;
}

.bg-instagram {
  background-color: #193344 !important;
}

.bg-twitter {
  background-color: rgb(3, 3, 255) !important;
}

.letra-color {
  font-size: 20px;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
  text-align: center;
  font-size: 30px;
  font-family: "Monserrat", sans-serif;
  height: 100vh;
  overflow-y: auto;
}

.contenedor {
  display: grid;
  height: 100%;
  grid-template-areas: "header header" "aside main" "footer footer";
  grid-template-columns: 200px auto;
  grid-template-rows: auto auto 110px;
}

h1 {
  font-size: 50px;
  color: white;
}

h2 {
  color: white;
}

.logo {
  display: inline;
}

.logo img {
  width: 80px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.redesSociales {
  color: white;
}

li {
  color: white;
  text-transform: uppercase;
  font-weight: lighter;
  padding: 0;
  margin: 0;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: white;
  font-size: 1.5vw;
}

.aside-modules {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.letra-color {
  color: white;
}

.horizon-image {
  height: 600px;
  padding: 50px;
}

.form-label {
  color: white;
}

/* Mobile */
@media (max-width: 768px) {
  .contenedor {
    grid-template-areas: "header" "aside" "main" "footer";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  .aside-modules {
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 820px) {
  .aside {
    display: none;
  }

  .contenedor {
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}

/*# sourceMappingURL=styles.css.map */
