.nav-footer li a {
  border-radius: 15px;
  background-color: white;
  margin-right: 10px;
  font-size: medium;

}

.nav-footer li a:hover {
  background-color: rgb(3, 3, 75);
  color: white !important;
}

.red-input:focus {
  background: #193344;
  color: $color-titulo;
}

.blue-input:focus {
  background: #193344;
  color: $color-titulo;
}

.boton-1 {
  width: 200px;
  height: 50px;
  background-color: white;
  text-align: center;
  color: black;
  border-radius: 20px;
  border: 1px solid black;
}

.boton--enviar {
  @extend .boton-1;
  background-color: #193344;
  color: grey;
}

.boton--limpiar {
  @extend .boton-1;
  background-color: grey;
  color: #193344;
}